# API Keys for Profitability Check (DataForSEO / SerpStack)
DATAFORSEO_LOGIN=""
DATAFORSEO_PASSWORD=""

SERPSTACK_API_KEY=""

# Database config for Hostinger / Premium Plan (phpMyAdmin)
DB_HOST="srv2124.hstgr.io"
DB_USER="u571414736_njkkkkk"
DB_PASSWORD="+/dAT3b3r&HXB*-"
DB_NAME="u571414736_njkkkkk"
